body{
    background-color: #f2f2f2;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
}
article{
    width: 80%;
    margin-top: 5%;
    margin-left: 17%;
}
.cry-container{
    width: 80%;
    background-color: white;
}
.cry-container img{ 
    width: 95%;
    height: 60%;
    margin-left: 20px;
}
.crypto-info p{
    padding: 2%;
    text-align: justify;
}
div h1, div h3{
    padding-top: 20px;
    margin-left: 3%;
    color: #00BFFF;
    font-size: 1.7em;
    font-style: italic;
}
.formcontainer{
    padding-top: 3%;
    width: 64%;
    height: auto;
    margin-left: 17%;
    background-color: white;
}
#cry_Comment{
    margin-left: 7%;
    padding-top: 2%;
}
.formcontainer textarea{
    margin-left: 7%;
    margin-top: 20px;
    width: 80%;
    height: 15%;
    border: 1px solid lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.formcontainer input[type = 'text']{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 7%;
    width: 50%;
    height: 6%;
    border: 1px solid lightgray;
}
#cryptoComments{
    margin-bottom: 3px;
}
.cryBtn button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    width: 12%;
    margin-bottom: 10px;
    background-color: #00BFFF;
    border: none;
    margin-left: 7%;
    color: white;
    font-size: 1.2em;
    height: 5%;
}
